/* Сброс */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote {
    margin: 0;
    padding: 0;
}

/* Основные стили*/

html {
    height: 100%;
}

body {
    font: 12px "Helvetica Neue", Verdana, Tahoma, Arial, Nelvetica, Geneva, sans-serif;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #4d4d4d;
}

a {
    color: #022e75;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

input {
    vertical-align: middle;
}

article, aside, footer, header, hgroup, nav, section {
    display: block;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    background: #fff;
}

/*Шапка*/
.header {
    height: 100px;
    background: #aed40a url('img/header_bg.png') repeat-x left top;
}

.logo {
    width: 85px;
    height: 85px;
    float: left;
    padding: 5px 0 5px 10px;
}

.header h2 {
    padding: 20px 0 0 150px;
}

.lang {
    margin: 0 10px 0 0;
    height: 60px;
    float: right;
}

.rus {
    background: #ffffff url('img/rus.png') no-repeat left top;
    float: left;
    width: 45px;
    height: 30px;
}

.kaz {
    background: #ffffff url('img/kaz.png') no-repeat left top;
    float: left;
    width: 45px;
    height: 30px;
}

.eng {
    background: #ffffff url('img/eng.png') no-repeat left top;
    float: left;
    width: 45px;
    height: 30px;
}

/* Навигация*/

.nav {
    height: 37px;
    background: url('img/nav_bg.png') repeat-x left top;
}

.navigation {
    list-style: none;
    margin-left: 15%;
    padding-top: 5px;
}

.navigation li {
    float: left;
    margin-right: 1%;
}

.navigation li a {
    display: block;
    height: 27px;
    color: #5c5c5c;
    text-transform: uppercase;
}

.navigation li a:hover {
    background: url('img/menu_bg1.png') no-repeat left top;
    color: #fffafe;
}

.navigation li span {
    display: block;
    padding: 7px 0.10% 0 7px;
    height: 20px;
}

.navigation li span:hover {
    background: url('img/menu_bg2.png') no-repeat right top;
}

/* Навигация юзера */
.user_menu {
    height: 1100px;
}

.nav_user {
    float: right;
    margin: 0 20px 0 0;
}

.navigation_user {
    list-style: none;
}

.navigation_user li {
    margin-top: 5px;
}

.navigation_user li a {
    display: block;
    color: #5c5c5c;
    text-transform: uppercase;
}

.navigation_user li a:hover {
    background-color: #aed40a;
    color: #000000;
}

/*Container*/
.container {
    width: 1100px;
    margin: 0 auto;
    background: #ffffff;
}

/*Регистрация*/
.reg {
    margin: 0 auto;
    background: #ffffff;
}

.reg_text {
    padding: 10px 0 10px 25px;
}

.reg_input {
    padding: 0 0 10px 25px;
}

.error {
    width: 300px;
    padding: 10px 0 10px 25px;
    color: #ff0000;
}

.complete {
    width: 300px;
    padding: 10px 0 10px 25px;
    color: #aed40a;
}

/*логин*/
.login {
    padding: 0 50px 0 0;
    background: #ffffff;
}

.data {
    float: left;
    padding: 0 0 0 20px;
    height: 300px;
}

.data p {
    padding: 15px 0 0 40px;
}

.avatar {
    float: left;
    margin: 0 25px 20px 0;
}

.img {
    width: 200px;
    height: 200px;
}

.add_film {
    float: left;
}

.edit_film {
    float: left;
}

.selected {
    margin: 0 45px 0 0;
    float: left;
}

.select {
    float: left;
}

.text_area {
    rows: 5;
    cols: 50;
}

.operation {
    float: left;
}

/*подвал*/
.footer {
    margin: 5px 0 0 0;
    height: 110px;
    background: #aed40a url('img/footer_bg.png') repeat-x left top;

}